{{/* layouts/partials/func/GetDescription.html */}}

{{ $.Scratch.Set "finalDescription" "" }}
{{ with .Description }}
  {{ $.Scratch.Set "finalDescription" (partial "content-wikilinks" .) }}
{{ else }}
  {{ if eq .Type "productions" }}
  {{ $showPage := .Site.GetPage "page" (printf "/shows/%s" (.Title | urlize)) }}
    {{ with $showPage }}
      {{ $.Scratch.Set "finalDescription" (partial "content-wikilinks" .Description) }}
    {{ else }}
      {{ $.Scratch.Set "finalDescription" (partial "content-wikilinks" .Summary) }}
    {{ end }}
  {{ else }}
    {{ if .IsPage }}
      {{ $.Scratch.Set "finalDescription" (partial "content-wikilinks" .Summary) }}
    {{ else }}
      {{ with .Site.Params.description }}
        {{ $.Scratch.Set "finalDescription" (partial "content-wikilinks" .) }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}