/* Custom style for the FullCalendar js plugin */

#calendar .fc-event-title {
  font-weight: 400;
}

h2.fc-toolbar-title {
  color: #000;
}

.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: none;
}

/* Make the events wrap on the calendar instead of run off */
.fc-daygrid-event {
  text-wrap: wrap;
  display:flex;
  align-items: flex-start;
  padding-right: 2px;
}

/* Fix the dot so that it's lined up with the time */
.fc-daygrid-event-dot {
  margin-top:.2rem;
}

a.fc-event {
  color: #333;
}
#calendar a.fc-event:hover {
  text-decoration: none;
}

.fc-daygrid-event-dot, .fc .fc-list-event-dot {
  border-width:8px;
}

@media screen and (max-width:30em) {
  .fc .fc-toolbar {
    flex-direction: column-reverse;
  }

  .fc .fc-toolbar-title {
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .fc-toolbar-chunk {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .fc .fc-toolbar-chunk:last-of-type .fc-button-group {
    margin: 0 auto 1rem;
   }
}