.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  /* Ensures the nav stays on top of other content */
}

.bg-jp-gold {
  background-color: var(--jaxplays-gold);
}

.w-45 {
  width: 45%;
}

.vh-40 {
  height: 40vh;
}

.mha {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width:90em) {
  .flex-xl {
    display: flex;
  }

  .db-xl {
    display: block;
  }

  .dn-xl {
    display: none;
  }

  .justify-between-xl {
    justify-content: space-between
  }
}

@media screen and (min-width:60em) {
  .w-45-l {
    width: 45%;
  }

  .vh-40-l {
    height: 40vh;
  }
}

@media screen and (min-width:30em) {
  .w-45-ns {
    width: 45%;
  }

  .vh-40-ns {
    height: 40vh;
  }
}