/* Put your custom styles here and run `npm start` from the "src" directory on */

/* define color variables for root */

:root {
	--jaxplays-gold: #ffd316;
	--jaxplays-red: #9d2063;
	--jaxplays-grey: #929497;
	--jaxplays-black: #000;
	--jaxplays-white: #fff;
}

.jaxplayslogo {
	letter-spacing: 0.055em;
	background-image: url("/media/JaxPlaysLogo.svg");
	background-repeat: no-repeat;
	background-position: left center; /* Adjust the position as needed */
}

a.jaxplayslogo {
  background-size: 1.5rem; /* Adjust the size as needed */
  padding-left: 1.75rem; /* Adjust padding to give space for the logo */
}

h1 a.jaxplayslogo {
  background-size: 4rem; /* Adjust the size as needed */
  padding-left: 5rem; /* Adjust padding to give space for the logo */
}

#TableOfContents ul li {
	margin-bottom: 1em;
}

.lh-copy blockquote {
	display: block;
	font-size: 0.875em;
	margin-left: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-left: 4px solid #ccc;
	padding-left: 1rem;
}

.nested-links a {
	overflow-wrap: break-word;
}
