/* Put your custom styles here and run `npm start` from the "src" directory on */

/* define color variables for root */

:root {
	--jaxplays-gold: #ffd316;
	--jaxplays-red: #9d2063;
	--jaxplays-grey: #929497;
	--jaxplays-black: #000;
	--jaxplays-white: #fff;
}

a,
.nested-links a {
	color: var(--jaxplays-red);
	text-decoration: none;
}

a.blindlink,
a.blindlink:hover,
a.blindlink:visited {
	text-decoration: none;
	transition: none;
	color: #333;
}

a:hover:not(.no-underline):not(.link),
.nested-links a:hover:not(.link) {
	text-decoration: underline;
}

.jaxplayslogo {
	letter-spacing: 0.055em;
	background-image: url("/JaxPlaysLogo.svg");
	background-repeat: no-repeat;
	background-position: left center;
	/* Adjust the position as needed */
}

.tickets {
	background-image: url("/tickets.svg");
	background-repeat: no-repeat;
	background-position: top;
	display: flex;
	min-width: 80px;
	min-height: 48px;
}

a.jaxplayslogo {
	background-size: 2rem;
	padding-left: 2.5rem;
}

a.jaxplayslogo,
a.jaxplayslogo:hover,
a.jaxplayslogo:visited {
	text-decoration: none;
}

h1 a.jaxplayslogo {
	background-size: 5rem;
	padding-left: 5.5rem;
}

.sectionline:after {
	content: "";
	box-shadow: inset 0 10px 0 0 var(--jaxplays-gold);
	display: block;
	width: 100%;
	height: 6px;
	margin: 1rem 0;
}

.biosection p {
	margin-top: 0;
}

.credits .overflow-hidden.nowrap {
	text-overflow: ellipsis;
}

.description p {
	margin-block-start: 0;
}

/* Splide style overrides */
.splide__arrow svg,
.splide__pagination__page:hover svg,
.splide__arrow:hover:not(:disabled) svg {
	fill: var(--jaxplays-gold);
}

.splide__pagination__page.is-active {
  background-color: var(--jaxplays-gold);
}

@media screen and (min-width: 30em) {
	.tickets {
		min-width: 100px;
		min-height: 60px;
	}
}

@media screen and (min-width: 60em) {
	a.jaxplayslogo {
		background-size: 1.5rem;
		/* Adjust the size as needed */
		padding-left: 1.75rem;
		/* Adjust padding to give space for the logo */
	}

	.tickets {
		min-width: 100px;
		min-height: 60px;
	}
}

#TableOfContents ul li {
	margin-bottom: 1em;
}

.lh-copy blockquote {
	display: block;
	font-size: 0.875em;
	margin-left: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-left: 4px solid #ccc;
	padding-left: 1rem;
}

.nested-links a {
	overflow-wrap: break-word;
}

.menu-btn {
	flex: 1;
	color: white;
	font-size: 2.2em;
}

@media (max-width: 60em) {
	.navmenu::after {
		flex: 1;
		content: "";
	}
}

@media (max-width: 30em) {
	h2 {
		font-size: 1.2rem;
	}
}