frontmatter.json
.frontmatter/database/mediaDb.json
.vscode/settings.json
.frontmatter/database/taxonomyDb.json
/public/*
.hugo_cache/
.claude/settings.local.json
.DS_Store
.stignore
.stfolder/syncthing-folder-6c83ff.txt
