{{ define "header" }}{{ partial "production-header.html" . }}{{ end }}
{{ define "main" }}
<div class="flex-l mt2 mw8 center">
  <article class="center cf pv5 ph3 ph4-ns mw8">
    <header>
      <h1 class="f3 f2-l f1-m mb0">
        {{ .Title }}
      </h1>
      <h2 class="fw4 f3-ns f5 ttu">
        {{ with .Params.date }}{{ dateFormat "2006" . }}{{ end }}
        {{ if and .Params.date .Params.theatre }}&#8226;{{ end }}
        {{ .Params.theatre }}
      </h2>
    </header>
    

    {{ if or .Params.featured_image .Params.tickets }}
    <div class="w-100 flex">
      {{ with .Params.featured_image }}
      <img src="/media/posters/{{ . }}" class="w5-l w4" />
      {{ end }}
      <!-- If date and closing_date are both filed out -->
      {{ if and .Params.date .Params.closing_date }}
        <!-- If closing_date is in the future -->
        {{ $closingDate := time .Params.closing_date }}
        {{ $now := now.Format "2006-01-02" | time }}
        {{ if ge $closingDate $now }}
          {{ with .Params.tickets }}<a href="{{ . }}" target="_blank" class="dim h4 w-20 w4-ns pa0 ma3 mt0 tickets"></a>{{ end }}
        {{ end }}
      {{ end }}

    </div>
    {{ end}}

    <div class="nested-copy-line-height lh-copy f4-ns f5 mb5 {{ $.Param " text_color" | default "dark-gray" }}">
      <h3 class="f3 mt4 mb3 sectionline">Details</h3>
      {{ with .Params.year }}<div class="flex">
        <div class="w-25 b pa3-ns pa2 bb bw1 b--silver">Year</div>
        <div class="w-75 pa3-ns pa2 bb bw1 b--silver">{{ . }}</div>
      </div>{{ end }}
      {{ with .Params.theatre }}<div class="flex">
        <div class="w-25 b pa3-ns pa2 bb bw1 b--silver">Theatre</div>
        <div class="w-75 pa3-ns pa2 bb bw1 b--silver"><a href="/theatres/{{ . | urlize }}">{{ . }}</a></div>
      </div>{{ end }}
      {{ with .Params.venue }}<div class="flex">
        <div class="w-25 b pa3-ns pa2 bb bw1 b--silver">Venue</div>
        <div class="w-75 pa3-ns pa2 bb bw1 b--silver"><a href="/venues/{{ . | urlize }}">{{ . }}</a></div>
      </div>{{ end }}
      {{ with .Params.website }}<div class="flex">
        <div class="w-25 b pa3-ns pa2 bb bw1 b--silver"></div>
        <div class="w-75 pa3-ns pa2 bb bw1 b--silver"><a href="{{ . }}">Official Website</a></div>
      </div>{{ end }}
    </div>

    {{ with .Content }}
    <div class="nested-copy-line-height lh-copy f4 {{ $.Param " text_color" | default "dark-gray" }}">
      <h3 class="f3 mt4 mb3 sectionline">Synopsis</h3>
      {{ . }}
      {{ . }}
    </div>
    {{ end }}

  </article>
</div>
{{ end }}