{{ define "header" }}{{ partial "production-header.html" . }}{{ end }}
{{ define "main" }}
<div class="flex-l mt0 mw8 center">
  <article class="center cf pv4 ph3 ph4-ns mw8">
    <header>
      <h1 class="f3 f2-l f1-m mb0">
        {{ .Title }}
      </h1>
      <h2 class="fw4 f3-ns f5 ttu">
        {{ with .Params.date }}{{ dateFormat "2006" . }}{{ end }}
        {{ if and .Params.date .Params.theatre }}&#8226;{{ end }}
        {{ .Params.theatre }}
      </h2>
    </header>

    {{ $featuredImage := .Params.featured_image }}
    {{ $featuredImageCaption := .Params.featured_image_caption }}
    {{ $featuredImageAttr := .Params.featured_image_attr }}
    {{ $genres := .Params.genres }}

    {{ if not $featuredImage }}
    {{ range where .Site.Pages "Type" "shows" }}
    {{ if eq .Title $.Title }}
    {{ $featuredImage = .Params.featured_image }}
    {{ $featuredImageCaption = .Params.featured_image_caption }}
    {{ $featuredImageAttr = .Params.featured_image_attr }}
    {{ end }}
    {{ end }}
    {{ end }}

    {{ if not $genres }}
    {{ range where .Site.Pages "Type" "shows" }}
    {{ if eq .Title $.Title }}
    {{ $genres = .Params.genres }}
    {{ end }}
    {{ end }}
    {{ end }}

    {{ if or $featuredImage $genres }}
    <div class="flex">
      <!-- Featured Image Section -->
      {{ if $featuredImage }}
      <div class="w-40 w-25-l flex">
        <a href="/media/posters/{{ $featuredImage }}" data-lightbox="image-1" data-title="{{ $featuredImageCaption }}">
          <img src="/media/posters/{{ $featuredImage }}" class="w5-ns w-100" />
        </a>
      </div>
      {{ end }}

      <!-- Genres and Tickets Section -->
      {{ if or $genres (and .Params.date .Params.closing_date) }}
      <div class="w-60 w-75-l ml2 flex flex-column items-start justify-start">
        <!-- Genres -->
        {{ if $genres }}
        <div class="flex flex-wrap">
          {{ range $genres }}
          <a href="/genres/{{ . | urlize }}" class="link dim br4 ph3 pv2 mv2 mh1 h2 dib black bg-yellow">{{ . }}</a>
          {{ end }}
        </div>
        {{ end }}

        <!-- Tickets -->
        <!-- If date and closing_date are both filed out -->
        {{ if and .Params.date .Params.closing_date }}
        <!-- If closing_date is in the future -->
        {{ $closingDate := time .Params.closing_date }}
        {{ $now := now.Format "2006-01-02" | time }}
        {{ if ge $closingDate $now }}
        {{ with .Params.tickets }}<a href="{{ . }}" target="_blank" class="db pa0 ml1 mv2 mt0 tickets"></a>{{ end }}
        {{ end }}
        {{ end }}

      </div>
      {{ end }}
    </div>
    {{ end }}

    <div class="nested-copy-line-height lh-copy f4-ns f5 mb4 {{ $.Param " text_color" | default "dark-gray" }}">
      <h3 class="f3 mt4 mb3 sectionline">Details</h3>
      {{ with .Params.year }}<div class="flex">
        <div class="w-25 b pa3-ns pa2 bb bw1 b--silver">Year</div>
        <div class="w-75 pa3-ns pa2 bb bw1 b--silver">{{ . }}</div>
      </div>{{ end }}
      {{ with .Params.theatre }}<div class="flex">
        <div class="w-25 b pa3-ns pa2 bb bw1 b--silver">Theatre</div>
        <div class="w-75 pa3-ns pa2 bb bw1 b--silver"><a href="/theatres/{{ . | urlize }}">{{ . }}</a></div>
      </div>{{ end }}

      <!-- Venues -->
      {{ $currentPage := . }} <!-- Capture the current page context -->
      {{ $venues := .Params.venue }} <!-- Get the venue(s) -->

      {{ if eq (printf "%T" $venues) "string" }} <!-- Check if it's a string -->
      {{ $venues = slice $venues }} <!-- Convert to an array if it's a single string -->
      {{ end }}

      {{ range $index, $venue := $venues }} <!-- Loop through the venue values with an index -->
      {{ $venueurl := $venue | urlize | replaceRE "\\." "" }} <!-- URLize the venue name -->
      <div class="flex">
        <div class="w-25 b pa3-ns pa2 bb bw1 b--silver">
          {{ if gt (len $venues) 1 }} <!-- Check if there's more than one venue -->
          {{ printf "Venue %d" (add $index 1) }} <!-- Print "Venue 2", "Venue 3", etc. -->
          {{ else }}
          Venue
          {{ end }}
        </div>
        <div class="w-75 pa3-ns pa2 bb bw1 b--silver">
          <a href="/venues/{{ $venueurl }}">{{ $venue }}</a>
          {{ $venuePage := $currentPage.Site.GetPage "page" (printf "/venues/%s" ($venueurl)) }}
          <!-- Use the captured page context -->
          {{ with $venuePage.Params.Address }} <!-- Access the 'Address' parameter -->
          <br />{{ . | replaceRE "\n" "<br />" | safeHTML }} <!-- Display the address with line breaks -->
          <ul class="map_links list mv1 pl0">
            <li><a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{ . | urlize | replaceRE "%0A" "%20" }}">Google Maps</a></li>
            <li><a target="_blank" href="https://maps.apple.com/?q={{ . | urlize | replaceRE " %0A" "%20" }}">Apple Maps</a></li>
          </ul>
          {{ end }}
        </div>
      </div>
      {{ end }}


      <!-- if date and closing_date  -->
      {{ if and .Params.date .Params.closing_date }}
      <div class="flex">
        <div class="w-25 b pa3-ns pa2 bb bw1 b--silver">Dates</div>
        {{ $startDate := time .Params.date }} <!-- Convert date to Hugo time object -->
        {{ $closingDate := time .Params.closing_date }}
        <div class="w-75 pa3-ns pa2 bb bw1 b--silver"> {{ $startDate.Format "Monday, January 2, 2006" }} — <br />{{
          $closingDate.Format "Monday, January 2, 2006" }}
          <!-- set cta variable in go to tap  -->
          <a href="javascript:void(0);" onclick="toggleShowtimes()" id="showtimes-toggle" class="db db-m dn-ns mt1">Tap
            here to see all showtimes...</a>
          <a href="javascript:void(0);" onclick="toggleShowtimes()" id="showtimes-toggle" class="dn db-l mt1">Click here
            to see all showtimes...</a>
        </div>
      </div>
      {{ end }}

      <!-- If showtimes exist -->
      {{ if .Params.showtimes }}
      <div id="showtimes-section" class="dn">
        <div class="flex flex-wrap  bb bw1 b--silver">
          <div class="w-25-ns w-100 b pa3-ns pa2">
            Showtimes
          </div>
          <div class="w-75-ns w-100 pa3-ns pa2">
            {{ range .Params.showtimes }} <!-- Iterate over the showtimes -->
            {{ $showtime := time . }} <!-- Convert each showtime to a Hugo time object -->
            <div class="flex mb2 space-between">
              <div class="w-75 w-50-l bb bw.5 b--light-silver">{{ $showtime.Format "Monday, January 2, 2006" }}</div>
              <!-- Date column -->
              <div class="w-25 w-50-l bb bw.5 b--light-silver">{{ $showtime.Format "3:04 p.m." }}</div>
              <!-- Time column -->
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      <script>
        function toggleShowtimes() {
          var section = document.getElementById('showtimes-section');
          if (section.style.display === 'none' || section.style.display === '') {
            section.style.display = 'block';
          } else {
            section.style.display = 'none';
          }
        }
      </script>
      {{ end }}

      {{ with .Params.website }}<div class="flex">
        <div class="w-25 b pa3-ns pa2 bb bw1 b--silver">Website</div>
        <div class="w-75 pa3-ns pa2 bb bw1 b--silver"><a href="{{ . }}" target="_blank">Official web page</a></div>
      </div>{{ end }}

      <!-- Show Details -->
      {{ $showDetails := .Params.show_details }}

      {{ if not $showDetails }}
      {{ range where .Site.Pages "Type" "shows" }}
      {{ if eq .Title $.Title }}
      {{ $showDetails = .Params.show_details }}
      {{ end }}
      {{ end }}
      {{ end }}

      {{ if $showDetails }}
      {{ range $showDetail := $showDetails }}
      {{ range $key, $value := $showDetail }}
      {{ if $value }}
      <div class="flex">
        <div class="w-25 b pa3-ns pa2 bb bw1 b--silver">{{ $key }}</div>
        <div class="w-75 pa3-ns pa2 bb bw1 b--silver">
          {{ if or (eq $key "Website") (eq $key "website") }}
          <a href="{{ $value }}" target="_blank" class="i">{{ $.Title }}</a>
          {{ else }}
          {{ if (eq (printf "%T" $value) "[]interface {}") }}
          {{ $result := slice }}
          {{ range $idx, $val := $value }}
          {{ if $val }}
          {{ if strings.HasSuffix $val " - wiki" }}
          {{ $val := $val | replaceRE " - wiki" "" }}
          {{ $valurl := $val | replaceRE " " "_" }}
          {{ $result = $result | append (printf "<a href='https://en.wikipedia.org/wiki/%s' target='_blank'>%s</a>" $valurl $val) }}
          {{ else }}
          {{ $result = $result | append $val }}
          {{ end }}
          {{ end }}
          {{ end }}
          {{ delimit $result ", " | safeHTML }}
          {{ else }}
          {{ if strings.HasSuffix $value " - wiki" }}
          {{ $val := $value | replaceRE " - wiki" "" }}
          {{ $valurl := $val | replaceRE " " "_" }}
          <a href="https://en.wikipedia.org/wiki/{{ $valurl }}" target="_blank">{{ $val }}</a>
          {{ else if (findRE `^\d{4}-\d{2}-\d{2}$` $value) }}
          {{ $value = $value | dateFormat "January 6, 2006" }}
          {{ $value }}
          {{ else }}
          {{ $value }}
          {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
      {{ end }}



    </div>

    <!-- If cast exists -->
    {{ if .Params.cast }}
    <div class="nested-copy-line-height lh-copy f4 mt5 {{ $.Param " text_color" | default "dark-gray" }}">
      <h3 class="f3 mt4 mb3 sectionline">Cast</h3>
      {{ range .Params.cast }} <!-- Iterate over the cast array -->
      {{ range $character, $actor := . }} <!-- Iterate over key-value pairs -->
      <div class="flex bb bw1 b--silver f5 f4-ns">
        <div class="b pa3-ns pa2 w-50 w-30-l">{{ $character }}</div> <!-- Character name -->
        <div class="pa3-ns pa2 w-50 w-70-l">
          {{ if (eq (printf "%T" $actor) "[]interface {}") }} <!-- Check if actor is an array -->
          {{ range $idx, $a := $actor }} <!-- Iterate over the actors -->
          <a href="/people/{{ $a | urlize }}">{{ $a }}</a>{{ if ne $idx (sub (len $actor) 1) }}, {{ end }}
          <!-- Separate by commas -->
          {{ end }}
          {{ else }}
          <a href="/people/{{ $actor | urlize }}">{{ $actor }}</a> <!-- Single actor name with URLized link -->
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
    {{ end }}

    <!-- If crew exists -->
    {{ if .Params.crew }}
    <div class="nested-copy-line-height lh-copy f4 mt5 {{ $.Param " text_color" | default "dark-gray" }}">
      <h3 class="f3 mt4 mb3 sectionline">Crew</h3>
      {{ range .Params.crew }} <!-- Iterate over the crew array -->
      {{ range $role, $person := . }} <!-- Iterate over key-value pairs -->
      <div class="flex bb bw1 b--silver f5 f4-ns">
        <div class="w-25 b pa3-ns pa2 w-50 w-30-l">{{ $role }}</div> <!-- Role -->
        <div class="w-75 pa3-ns pa2 w-50 w-70-l">
          {{ if (eq (printf "%T" $person) "[]interface {}") }} <!-- Check if person is an array -->
          {{ range $idx, $p := $person }} <!-- Iterate over the persons -->
          <a href="/people/{{ $p | urlize }}">{{ $p }}</a>{{ if ne $idx (sub (len $person) 1) }}, {{ end }}
          <!-- Separate by commas -->
          {{ end }}
          {{ else }}
          <a href="/people/{{ $person | urlize }}">{{ $person }}</a> <!-- Single person's name with URLized link -->
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
    {{ end }}

    <!-- If understudies exists -->
    {{ if .Params.understudies }}
    <div class="nested-copy-line-height lh-copy f4 mt5 {{ $.Param " text_color" | default "dark-gray" }}">
      <h3 class="f3 mt4 mb3 sectionline">Understudies</h3>
      {{ range .Params.understudies }} <!-- Iterate over the understudies array -->
      {{ range $character, $actor := . }} <!-- Iterate over key-value pairs -->
      <div class="flex bb bw1 b--silver f5 f4-ns">
        <div class="w-25 b pa3-ns pa2 w-50 w-30-l">{{ $character }}</div> <!-- Character name -->
        <div class="w-75 pa3-ns pa2 w-50 w-70-l">
          <a href="/people/{{ $actor | urlize }}">{{ $actor }}</a> <!-- Actor name with URLized link -->
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
    {{ end }}

    <!-- If orchestra exists -->
    {{ if .Params.orchestra }}
    <div class="nested-copy-line-height lh-copy f4 mt5 {{ $.Param " text_color" | default "dark-gray" }}">
      <h3 class="f3 mt4 mb3 sectionline">Orchestra</h3>
      {{ range .Params.orchestra }} <!-- Iterate over the orchestra array -->
      {{ range $instrument, $musician := . }} <!-- Iterate over key-value pairs -->
      <div class="flex bb bw1 b--silver f5 f4-ns">
        <div class="w-25 b pa3-ns pa2 w-50 w-30-l">{{ $instrument }}</div> <!-- Instrument name -->
        <div class="w-75 pa3-ns pa2 w-50 w-70-l">
          <a href="/people/{{ $musician | urlize }}">{{ $musician }}</a> <!-- Musician's name with URLized link -->
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
    {{ end }}

    {{ with .Content }}
    <div class="nested-copy-line-height lh-copy f4 {{ $.Param " text_color" | default "dark-gray" }}">
      <h3 class="f3 mt4 mb3 sectionline">Synopsis</h3>
      {{ . }}
    </div>
    {{ end }}

<!-- Reviews -->
{{ $filename := .File.BaseFileName | replaceRE "-" " "}}
{{ $relatedReviews := where site.RegularPages "Type" "reviews" }}
{{ $relatedReviews = where $relatedReviews "Params.production" $filename }}

{{ if or $relatedReviews .Params.reviews }}
  <div class="nested-copy-line-height lh-copy f4 mt5 {{ $.Param " text_color" | default "dark-gray" }}">
    <h3 class="f3 mt4 mb3 sectionline">Reviews</h3>
    {{ range $relatedReviews }}
    <h4><a href="{{ .Permalink }}">{{ .Title }} | JaxPlays Reviews</a></h4>
      {{ $summary := .Summary | plainify | safeHTML }}
      <span class="db">{{ $summary }}</span>
      <a href="{{ .Permalink }}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">read more</a>        
    {{ end }}

    {{ if .Params.reviews }}
      {{ range .Params.reviews }} <!-- Iterate over the crew array -->
      {{ range $reviewTitle, $reviewURL := . }} <!-- Iterate over key-value pairs -->
      <h4><a href="{{ $reviewURL  }}" target="_blank" alt="{{ $reviewTitle }}">{{ $reviewTitle }}</a></h4>
      {{ end }}
      {{ end }}
    {{ end }}
    
{{ end }}



  </article>
</div>
{{ end }}