{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height mw-100 center">
  <h1>Active Theatres</h1>
  <table border="1" class="w-100 collapse ba br2 b-black-10">
    <thead>
      <tr>
        <th>#</th>
        <th>Theatre</th>
        <th>Type</th>
        <th>Website</th>
        <th>Facebook</th>
        <th>Instagram</th>
        <th>Twitter</th>
        <th>Bluesky</th>
      </tr>
    </thead>
    <tbody>
      {{ $pages := sort (where (where site.RegularPages "Params.active" true) "Section" "theatres") "Title" }}
      {{ range $i, $p := $pages }}
        <tr>
          <td class="b tc">{{ add $i 1 }}.</td>
          <td class="ph2 pv1"><a class="b" href="{{ .RelPermalink }}">{{ .Title }}</a></td>
          <td class="pa2 pv1">{{ .Params.company_type | default "" }}</td>
          <td class="pa2 pv1">{{ with .Params.socials.website }}<a href="{{ . }}">{{ . }}</a>{{ end }}</td>
          <td class="pa2 pv1">{{ with .Params.socials.facebook }}<a href="https://www.facebook.com/{{ . }}">{{ . }}</a>{{ end }}</td>
          <td class="pa2 pv1">{{ with .Params.socials.instagram }}<a href="https://www.instagram.com/{{ . }}">{{ . }}</a>{{ end }}</td>
          <td class="pa2 pv1">{{ with .Params.socials.twitter }}<a href="https://twitter.com/{{ . }}">{{ . }}</a>{{ end }}</td>
          <td class="pa2 pv1">{{ with .Params.socials.bluesky }}<a href="https://bsky.app/profile/{{ . }}">{{ . }}</a>{{ end }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</article>
{{ end }}