{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height mw9 center">

  {{ partial "secondSearchBar.html" (dict "section" "Theatres") }}

  {{ $today := now }}
  {{ $oneYearAgo := $today.AddDate -1 0 0 }}

  {{/* Active Theatre Companies */}}
  <h3 class="ph3 ph0-ns f2 mt0 mb2 sectionline">Active Theatre Companies</h3>
  <aside class="flex-ns flex-wrap justify-around mt5">
    {{ range .Pages.ByParam "title" }}
      {{ $theatre := . }}
      {{ $isActive := false }}
      {{ range where site.RegularPages "Section" "productions" }}
        {{ $prodTheatres := .Params.theatre }}
        {{ if reflect.IsSlice $prodTheatres }}
          {{ if in $prodTheatres $theatre.Title }}
            {{ with .Params.closing_date }}
              {{ if ge (time (string .)) $oneYearAgo }}
                {{ $isActive = true }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ else if eq $prodTheatres $theatre.Title }}
          {{ with .Params.closing_date }}
            {{ if ge (time (string .)) $oneYearAgo }}
              {{ $isActive = true }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if $isActive }}
        {{ .Render "theatre-list" }}
      {{ end }}
    {{ end }}
  </aside>

  {{/* Inactive Theatre Companies */}}
  <h3 class="ph3 ph0-ns f2 mt0 mb2 sectionline">Inactive Theatre Companies</h3>
  <aside class="flex-ns flex-wrap justify-around mt5">
    {{ range .Pages.ByParam "title" }}
      {{ $theatre := . }}
      {{ $isActive := false }}
      {{ range where site.RegularPages "Section" "productions" }}
        {{ $prodTheatres := .Params.theatre }}
        {{ if reflect.IsSlice $prodTheatres }}
          {{ if in $prodTheatres $theatre.Title }}
            {{ with .Params.closing_date }}
              {{ if ge (time (string .)) $oneYearAgo }}
                {{ $isActive = true }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ else if eq $prodTheatres $theatre.Title }}
          {{ with .Params.closing_date }}
            {{ if ge (time (string .)) $oneYearAgo }}
              {{ $isActive = true }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if not $isActive }}
        {{ .Render "theatre-list" }}
      {{ end }}
    {{ end }}
  </aside>

  {{/*  {{ template "_internal/pagination.html" . }}  */}}

</article>
{{ end }}