.dark-mode,
.dark-mode *:not(#dark-mode-icon):not(#fastSearch *):not(#secondSearch *):not(.bg-yellow *):not(a):not(#searchInput):not(.nested-links):not(.pagination span):not(#lightbox):not(:is(input.om-inputs, div.om-button, div.bg-white, div.om-dtr-content, div.om-dtr-content *, div.bg-white *, #lightbox *)) {
	background-color: #000;
}

.dark-mode,
.dark-mode .blindlink,
.dark-mode .blindlink:hover,
.dark-mode .blindlink:active,
.dark-mode .blindlink:visited,
.dark-mode .om-text,
.dark-mode .black:not(.dark-mode .black.bg-yellow),
.dark-mode *:not(#dark-mode-icon):not(a):not(.nested-links):not(.pagination span):not(#fastSearch *):not(#secondSearch *):not(.bg-yellow *):not(#secondSearchInput):not(input.om-inputs):not(div.om-dtr-content)
{
	color: #fff !important;
}

.dark-mode a:not(.jaxplayslogo):not(.blindlink):not(.link):not(.pagination a):not(footer a):not(.bg-yellow) {
	color: var(--jaxplays-gold);
}

.dark-mode a.bg-light-gray {
	background-color: #333;
}

.dark-mode a.bg-light-gray:hover {
	background-color: #444;
}

.dark-mode div.bg-white {
	background-color: #333;
}

#dark-mode-toggle {
	border: none;
	background: none;
	cursor: pointer;
}

#dark-mode-icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url("/css/moon-icon.svg");
	background-size: contain;
	background-repeat: no-repeat;
	filter: invert(1);
}

body.dark-mode #dark-mode-icon {
	background-image: url("/css/sun-icon.svg");
	filter: invert(1);
}

.dark-mode .pagination li a span {
	background-color: #fff;
	color: #000;
}