{{ define "main" }}
<pre>
  {{- printf "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//JaxPlays//EN\n" -}}
  {{- printf "X-WR-CALNAME:JaxPlays Opening Nights Calendar\n" -}}
  {{- printf "X-WR-CALDESC:JaxPlays Opening Nights Calendar\n" -}}
  {{- printf "X-WR-TIMEZONE:America/New_York\n" -}}
  {{- printf "CALSCALE:GREGORIAN\n" -}}
  {{- printf "METHOD:PUBLISH\n" -}}
  {{- printf "BEGIN:VTIMEZONE\nTZID:America/New_York\nX-LIC-LOCATION:America/New_York\nBEGIN:DAYLIGHT\nTZOFFSETFROM:-0500\nTZOFFSETTO:-0400\nTZNAME:EDT\nDTSTART:19700308T020000\nRRULE:FREQ=YEARLY;BYMONTH=3;BYDAY=2SU\nEND:DAYLIGHT\nBEGIN:STANDARD\nTZOFFSETFROM:-0400\nTZOFFSETTO:-0500\nTZNAME:EST\nDTSTART:19701101T020000\nRRULE:FREQ=YEARLY;BYMONTH=11;BYDAY=1SU\nEND:STANDARD\nEND:VTIMEZONE\n" -}}
  
  {{- $now := now -}}
  {{- $events := slice -}}
  {{- range where .Site.Pages "Type" "productions" -}}
    {{- $title := .Title -}}
    {{- $theatre := .Params.Theatre -}}
    {{- $title := print $title " - " $theatre -}}
    {{- $url := .Permalink -}}
    {{- $featuredImage := .Params.featured_image -}}
    {{- $createdDate := .Date -}}
    {{- $createdDate := time.Format "20060102T150405Z" $createdDate -}}

    {{- with .Params.showtimes -}}
      {{- if gt (len .) 0 -}}
        {{- $dateTimeStamp := time.Format "20060102T150405Z" now -}}
        {{- $firstShowtime := index . 0 -}}
        {{- $dateTimeFormat := printf "%s" $firstShowtime -}} {{/*  Get the first showtime  */}}
        {{- $dateTimeISO := replace $dateTimeFormat " " "T" -}} {{/* Replace space with T to form correct ISO 8601 format */}}
        {{- $dateTimeISO := time.AsTime $dateTimeISO -}}
        {{- $dateTimeStart := time.Format "20060102T150405" $dateTimeISO -}}
        {{- $duration := time.ParseDuration "2.5h" -}}
        {{- $dateTimeISOEND := $dateTimeISO.Add $duration -}}
        {{- $dateTimeEnd := time.Format "20060102T150405" $dateTimeISOEND -}}
        {{- $events = $events | append (dict "title" $title "stamp" $dateTimeStamp "start" $dateTimeStart "end" $dateTimeEnd "created_date" $createdDate "theatre" $theatre "url" $url "featured_image" $featuredImage) -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- range $events -}}
    {{- printf "BEGIN:VEVENT\n" -}}
    {{- printf "SUMMARY:%s\n" .title -}}
    {{- printf "DTSTAMP:%s\n" .stamp -}} {{/*  Output the datetime as a string  */}}
    {{- printf "DTSTART:%s\n" .start -}} {{/*  Output the datetime as a string  */}}
    {{- printf "DTEND:%s\n" .end -}} {{/*  Output the datetime as a string  */}}
    {{- printf "DESCRIPTION:More details at %s\n" .url -}}
    {{- printf "LOCATION:%s\n" .theatre -}}
    {{- printf "CREATED:%s\n" .created_date -}}
    {{- printf "END:VEVENT\n" -}}
  {{- end -}}
  {{- printf "END:VCALENDAR" -}}
</pre>
{{- end -}}