{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw8">
      <header>
        <h1 class="f3 f1-l f1-m mt0">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f4 nested-links {{ $.Param "text_color" | default "mid-gray" }}">
        {{ .Content }}
        {{/*  <givebutter-widget id="LPmQyg" class="flex flex-column mv3 mha givebutter-maxwidth"></givebutter-widget>  */}}
        <!-- Giving Tuesday 2025 -->
        <givebutter-widget id="j9la4p" class="flex flex-column mv3 mha givebutter-maxwidth"></givebutter-widget>

      </div>
    </article>
  </div>
{{ end }}
