{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw8">
      <header>
        <h1 class="f3 f1-l f1-m mt0 sectionline">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f5 f4-ns">
        {{ .Content }}
        <iframe class="mt4" style="border:none;width:100%;" height="4200px" src="https://opnform.com/forms/jaxplays-profile-submission-form-ysdyow-2"></iframe>
      </div>
    </article>
  </div>
{{ end }}
