{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
  <div class="flex-l mt2 mw8 center">
    <article class="center cf pv5 ph3 ph4-ns mw8">
      <header>
        <h1 class="f3 f1-l f1-m mt0 sectionline">
          {{ .Title }}
        </h1>
      </header>
      <div class="nested-copy-line-height lh-copy f5 f4-ns">
        {{ .Content }}
        <iframe id="edh-iframe" style="width:100%;border:none;" src="https://forms.jaxplays.org/profile-submission-form/"></iframe>
      <script type='text/javascript'>
        // Listen for messages sent from the iFrame
        var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
        var eventer = window[eventMethod];
        var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
      
        eventer(messageEvent,function(e) {
          // If the message is a resize frame request
          if (e.data.indexOf('resize::') != -1) {
            var height = e.data.replace('resize::', '');
            document.getElementById('edh-iframe').style.height = height+'px';
          }
        } ,false);
      </script>
      </div>
    </article>
  </div>
{{ end }}
