{{- $authors := slice -}}
{{- $rawAuthors := .Params.authors | default .Params.author -}}
{{- with $rawAuthors -}}
  {{- if eq (printf "%T" .) "string" -}}
    {{- $authors = $authors | append . -}}
  {{- else -}}
    {{- range . -}}
      {{- $authors = $authors | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $authorObjects := slice -}}
{{- range $authors -}}
  {{- $name := printf "%v" . -}}
  {{- if $name -}}
    {{- $authorURL := printf "/authors/%s/" ($name | urlize) | absURL -}}
    {{- $authorObjects = $authorObjects | append (dict
      "@type" "Person"
      "@id" (printf "%s#person" $authorURL)
      "name" $name
      "url" $authorURL
    ) -}}
  {{- end -}}
{{- end -}}
{{- return $authorObjects -}}
