{{- $personID := printf "%s#person" .Permalink -}}
{{- $profileID := printf "%s#profilepage" .Permalink -}}
{{- $person := dict
  "@type" "Person"
  "@id" $personID
  "name" .Title
  "url" .Permalink
-}}

{{- $description := "" -}}
{{- with .Description -}}
  {{- $description = . | plainify | htmlUnescape -}}
{{- else -}}
  {{- with .Summary -}}
    {{- $description = . | plainify | htmlUnescape -}}
  {{- end -}}
{{- end -}}
{{- with $description -}}
  {{- $person = merge $person (dict "description" .) -}}
{{- end -}}

{{- with .Params.featured_image -}}
  {{- $image := . -}}
  {{- if reflect.IsMap . -}}
    {{- $image = .src -}}
  {{- end -}}
  {{- with $image -}}
    {{- $imageURL := printf "%s" . -}}
    {{- if not (or (hasPrefix $imageURL "http://") (hasPrefix $imageURL "https://") (hasPrefix $imageURL "/")) -}}
      {{- $imageURL = printf "/media/headshots/%s" $imageURL -}}
    {{- end -}}
    {{- $person = merge $person (dict "image" ($imageURL | absURL)) -}}
  {{- end -}}
{{- end -}}

{{- $alternateNames := slice -}}
{{- with .Params.other_names -}}
  {{- if eq (printf "%T" .) "string" -}}
    {{- $alternateNames = $alternateNames | append . -}}
  {{- else -}}
    {{- range . -}}
      {{- $alternateNames = $alternateNames | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if gt (len $alternateNames) 0 -}}
  {{- $person = merge $person (dict "alternateName" (uniq $alternateNames)) -}}
{{- end -}}

{{- $roles := slice -}}
{{- with .Params.roles -}}
  {{- if eq (printf "%T" .) "string" -}}
    {{- $roles = $roles | append . -}}
  {{- else -}}
    {{- range . -}}
      {{- $roles = $roles | append . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- if gt (len $roles) 0 -}}
  {{- $person = merge $person (dict "knowsAbout" (uniq $roles)) -}}
{{- end -}}

{{- with partial "schema/social-urls.html" .Params.socials -}}
  {{- if gt (len .) 0 -}}
    {{- $person = merge $person (dict "sameAs" .) -}}
  {{- end -}}
{{- end -}}

{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "ProfilePage"
  "@id" $profileID
  "url" .Permalink
  "name" (printf "%s - JaxPlays Profile" .Title)
  "mainEntity" $person
-}}

{{- partial "schema/jsonld.html" $schema -}}
