{{- $review := dict
  "@context" "https://schema.org"
  "@type" "Review"
  "@id" (printf "%s#review" .Permalink)
  "name" .Title
  "headline" .Title
  "url" .Permalink
  "mainEntityOfPage" .Permalink
  "publisher" (partial "schema/publisher.html" .)
-}}

{{- if not .Date.IsZero -}}
  {{- $review = merge $review (dict "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")) -}}
{{- end -}}
{{- if not .Lastmod.IsZero -}}
  {{- $review = merge $review (dict "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")) -}}
{{- end -}}

{{- with .Params.description -}}
  {{- $review = merge $review (dict "description" (. | plainify | htmlUnescape)) -}}
{{- else -}}
  {{- with .Summary -}}
    {{- $review = merge $review (dict "description" (. | plainify | htmlUnescape)) -}}
  {{- end -}}
{{- end -}}
{{- with partial "func/GetFeaturedImage.html" . -}}
  {{- $review = merge $review (dict "image" (. | absURL)) -}}
{{- end -}}
{{- with partial "schema/article-authors.html" . -}}
  {{- if gt (len .) 0 -}}
    {{- $review = merge $review (dict "author" .) -}}
  {{- end -}}
{{- end -}}

{{- with .Params.production -}}
  {{- $productionTitle := printf "%v" . -}}
  {{- $itemReviewed := dict "@type" "TheaterEvent" "name" $productionTitle -}}
  {{- $productionSlug := $productionTitle | urlize -}}
  {{- $productionPage := false -}}
  {{- range where site.RegularPages "Section" "productions" -}}
    {{- if eq (.File.BaseFileName | urlize) $productionSlug -}}
      {{- $productionPage = . -}}
    {{- end -}}
  {{- end -}}
  {{- with $productionPage -}}
    {{- $itemReviewed = merge $itemReviewed (dict
      "@id" (printf "%s#production-event" .Permalink)
      "url" .Permalink
      "name" .Title
    ) -}}
    {{- with .Params.opening_date -}}
      {{- $candidate := printf "%v" . -}}
      {{- if findRE `^\d{4}-\d{2}-\d{2}` $candidate -}}
        {{- $itemReviewed = merge $itemReviewed (dict "startDate" $candidate) -}}
      {{- end -}}
    {{- end -}}
    {{- with .Params.closing_date -}}
      {{- $candidate := printf "%v" . -}}
      {{- if findRE `^\d{4}-\d{2}-\d{2}` $candidate -}}
        {{- $itemReviewed = merge $itemReviewed (dict "endDate" $candidate) -}}
      {{- end -}}
    {{- end -}}
    {{- $productionDescription := "" -}}
    {{- with .Description -}}
      {{- $productionDescription = . | plainify | htmlUnescape -}}
    {{- else -}}
      {{- with .Summary -}}
        {{- $productionDescription = . | plainify | htmlUnescape -}}
      {{- end -}}
    {{- end -}}
    {{- with $productionDescription -}}
      {{- $itemReviewed = merge $itemReviewed (dict "description" .) -}}
    {{- end -}}
    {{- with partial "schema/content-image.html" (dict "page" . "basePath" "/media/posters/") -}}
      {{- $itemReviewed = merge $itemReviewed (dict "image" .) -}}
    {{- end -}}
    {{- $locations := slice -}}
    {{- $rawVenues := .Params.venue -}}
    {{- with $rawVenues -}}
      {{- if eq (printf "%T" .) "string" -}}
        {{- $rawVenues = slice . -}}
      {{- end -}}
      {{- range $rawVenues -}}
        {{- with partial "schema/venue-reference.html" (dict "name" .) -}}
          {{- $locations = $locations | append . -}}
        {{- end -}}
      {{- end -}}
    {{- end -}}
    {{- if eq (len $locations) 1 -}}
      {{- $itemReviewed = merge $itemReviewed (dict "location" (index $locations 0)) -}}
    {{- else if gt (len $locations) 1 -}}
      {{- $itemReviewed = merge $itemReviewed (dict "location" $locations) -}}
    {{- end -}}
    {{- $actors := partial "schema/people-from-credit-list.html" (dict "items" .Params.cast) -}}
    {{- $orchestraPerformers := partial "schema/people-from-credit-list.html" (dict "items" .Params.orchestra "valueRolePattern" `^(accordion|accompanist|banjo|bass|cello|clarinet|conductor|drums?|flute|guitar|horn|keyboard|keyboards|music director|oboe|percussion|piano|reed|saxophone|trombone|trumpet|viola|violin|woodwinds?)$`) -}}
    {{- $performers := $actors | append $orchestraPerformers -}}
    {{- if gt (len $actors) 0 -}}
      {{- $itemReviewed = merge $itemReviewed (dict "actor" $actors) -}}
    {{- end -}}
    {{- if gt (len $performers) 0 -}}
      {{- $itemReviewed = merge $itemReviewed (dict "performer" $performers) -}}
    {{- end -}}
    {{- $itemReviewed = merge $itemReviewed (dict "workPerformed" (dict "@type" "CreativeWork" "name" .Title)) -}}
  {{- end -}}
  {{- $review = merge $review (dict "itemReviewed" $itemReviewed) -}}
{{- end -}}

{{- partial "schema/jsonld.html" $review -}}
