{{- $wikiregex := "\\[\\[([^\\]]+?)\\]\\]" -}}
{{- $wikilinks := findRE $wikiregex . -}}
{{- $content := . -}}
{{- $markdownEmphasisRegex := "\\*([^\\*]+)\\*" -}}  <!-- Regex to detect markdown emphasis with asterisks -->

{{ range $wikilinks }}
  {{- $linkText := replaceRE $wikiregex "$1" . -}}
  {{- $parts := split $linkText "|" -}}
  {{- $mainPart := index $parts 0 -}}
  {{- $display := "" -}}
  {{- $url := "" -}}

  {{- $colonParts := split $mainPart ":" -}}
  {{- $route := "" -}}

  {{ if eq (len $parts) 2 }}
    {{- $display = index $parts 1 -}}
  {{ else }}
    {{- $display = delimit (after 1 $colonParts) ":" -}} <!-- Rejoin the parts after the first colon -->
  {{ end }}

  {{- $routeMap := dict "person" "/people/" "production" "/productions/" "theatre" "/theatres/" "venue" "/venues/" -}}
  {{- $isKnownPrefix := false -}}
  {{- range $key, $val := $routeMap }}
    {{ if eq (index $colonParts 0) $key }}
      {{- $route = $val -}}
      {{- $isKnownPrefix = true -}}
    {{ end }}
  {{ end }}

  {{ if $isKnownPrefix }}
    {{- $internalURLize := delimit (after 1 $colonParts) ":" -}} <!-- Get the complete title after the prefix -->
    {{- $internalURLize = replace $internalURLize "&amp;" "and" -}}
    {{- $url = printf "%s%s" $route ($internalURLize | urlize) -}}

    <!-- Set the class if the prefix is "production" -->
    {{- $class := "" -}}
    {{- if eq (index $colonParts 0) "production" }}
      {{- $class = " class=\"i\"" -}}
    {{- end }}

    {{- $link := printf "<a%s href='%s'>%s</a>" $class $url $display -}}
    {{- $content = replace $content . $link -}}
  {{ else if eq (index $colonParts 0) "w" }}
    {{- $wikiName := delimit (after 1 $colonParts) ":" -}} <!-- Capture the entire title after the first colon -->
    {{- $wikiName = replace $wikiName " " "_" -}}
    {{- $wikiName = replace $wikiName "'" "%27" -}}  <!-- Encode plain apostrophes -->
    {{- $wikiName = replace $wikiName "&rsquo;" "%27" -}}  <!-- Encode HTML right single quotation mark for Wikipedia URLs -->
    {{- $url = printf "https://en.wikipedia.org/wiki/%s" $wikiName -}}
    {{- $link := printf "<a href='%s' target='_blank'>%s</a>" $url $display -}}
    {{- $content = replace $content . $link -}}
  {{ end }}
{{ end }}

{{- $content = replaceRE $markdownEmphasisRegex "<em>$1</em>" $content -}}  <!-- Apply markdown emphasis after processing links -->

{{- $content | safeHTML -}}
