<!-- Submit your profile -->
<div class="nested-copy-line-height lh-copy f4 mt5 {{ $.Param " text_color" | default "dark-gray" }}"></div>
<h3 class="f3 mt4 mb3 sectionline">Submit your bio and headshot</h3>
<p>Ready to take center stage? Whether you’re a seasoned professional or an emerging talent, JaxPlays offers you the
  perfect platform to showcase your skills and passion. By adding your headshot and biography to our People Directory,
  you gain visibility among theatre owners, directors and a vibrant community of theatre enthusiasts in Jacksonville.
</p>
<a href="https://docs.google.com/forms/d/e/1FAIpQLSduLP0wTHFsbhmK7ZMytKqjUwuejlo4igOSKBRiUb7x9zr2Tg/viewform"
  target="_blank" class="inline-flex flex-row link b dim br4 ph3 pv2 mv2 mh1 h2 black bg-yellow"><img
    src="/images/pencil-solid.svg" class="h1 ph2"></img> Submit your Profile</a>
</div>