<!-- Apply for a profile -->
<div class="nested-copy-line-height lh-copy f4 mt5 {{ $.Param " text_color" | default "dark-gray" }}"></div>
<h3 class="f3 mt4 mb3 sectionline">Apply for an artist profile</h3>
<p>Ready to be considered for the JaxPlays People Directory? Share your bio, headshot and public profile details so
  JaxPlays can review them for inclusion in Jacksonville's live theatre record.
</p>
<a href="/apply/profile/"
  target="_blank" class="inline-flex flex-row link b dim br4 ph3 pv2 mv2 mh1 h2 black bg-yellow"><img
    src="/images/pencil-solid.svg" class="h1 ph2"></img> Apply for Profile</a>
</div>
