{{- if not ($.Page.Scratch.Get "embed-pdf-count") -}}
<script type="text/javascript" src="/js/pdf-js/build/pdf.js"></script>
<style>
  .embed-pdf-container {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 20vh;
  }
  .pdf-canvas {
    border: 1px solid black;
    direction: ltr;
    width: 100%;
    height: auto;
    display: none;
  }
  .pdf-loadingWrapper {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
  }
  .pdf-loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #d2d0d0;
    border-radius: 50%;
    border-top-color: #383838;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  /* Download link styles */
  #overlayText {
    word-wrap: break-word;
    display: grid;
    justify-content: end;
  }
  #overlayText a {
    position: relative;
    top: 10px;
    right: 4px;
    color: #000;
    margin: auto;
    background-color: #eeeeee;
    padding: 0.3em 1em;
    border: solid 2px;
    border-radius: 12px;
    border-color: #00000030;
    text-decoration: none;
  }
  #overlayText svg {
    height: clamp(1em, 2vw, 1.4em);
    width: clamp(1em, 2vw, 1.4em);
  }
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  /* Lightbox styles */
  .pdf-lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    align-items: center;
    justify-content: center;
  }
  .pdf-lightbox-content {
    position: relative;
    min-width: 300px;
    min-height: 500px;
    width: 75%;
    height: 75%;
    max-width: 100%;
    max-height: 100%;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  .pdf-lightbox-close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 2em;
    color: #fff;
    z-index: 10000;
    cursor: pointer;
  }
  .pdf-lightbox iframe, .pdf-lightbox-content {
    min-width: 300px;
    min-height: 500px;
  }
  .pdf-lightbox iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
  }
</style>
{{- end -}}

{{- $.Page.Scratch.Add "embed-pdf-count" 1 -}}
<div class="embed-pdf-container" id="embed-pdf-container-{{ substr (.url | md5) 0 8 }}" style="width: {{ .width | default "100%" }};">
  <div class="pdf-loadingWrapper" id="pdf-loadingWrapper-{{ substr (.url | md5) 0 8 }}">
    <div class="pdf-loading" id="pdf-loading-{{ substr (.url | md5) 0 8 }}"></div>
  </div>
  {{ if not (eq .download "false") }}
  <div id="overlayText">
    <a href="{{ .url }}" aria-label="Download" download>
      <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
        <path d="M9 13c.3 0 .5-.1.7-.3L15.4 7 14 5.6l-4 4V1H8v8.6l-4-4L2.6 7l5.7 5.7c.2.2.4.3.7.3zm-7 2h14v2H2z" />
      </svg>
    </a>
  </div>
  {{ end }}
  <canvas class="pdf-canvas" id="pdf-canvas-{{ substr (.url | md5) 0 8 }}"></canvas>
</div>

<div class="pdf-paginator" id="pdf-paginator-{{ substr (.url | md5) 0 8 }}">
  <button id="pdf-prev-{{ substr (.url | md5) 0 8 }}">Previous</button>
  <button id="pdf-next-{{ substr (.url | md5) 0 8 }}">Next</button> &nbsp; &nbsp;
  <span>
    <span class="pdf-pagenum" id="pdf-pagenum-{{ substr (.url | md5) 0 8 }}"></span> / <span class="pdf-pagecount" id="pdf-pagecount-{{ substr (.url | md5) 0 8 }}"></span>
  </span>
  <a class="pdf-source" id="pdf-source-{{ substr (.url | md5) 0 8 }}" href="{{ .url }}">[pdf]</a>
</div>

<noscript>
  View the PDF file <a class="pdf-source" id="pdf-source-noscript-{{ substr (.url | md5) 0 8 }}" href="{{ .url }}">here</a>.
</noscript>

<script type="text/javascript">
(function(){
  var url = '{{ .url }}';
  var hidePaginator = "{{ .hidePaginator }}" === "true";
  var hideLoader = "{{ .hideLoader }}" === "true";
  var selectedPageNum = parseInt("{{ .renderPageNum }}") || 1;

  var pdfjsLib = window['pdfjs-dist/build/pdf'];
  if (pdfjsLib.GlobalWorkerOptions.workerSrc == '')
    pdfjsLib.GlobalWorkerOptions.workerSrc = "{{ .Site.BaseURL }}" + 'js/pdf-js/build/pdf.worker.js';

  var pdfDoc = null,
      pageNum = selectedPageNum,
      pageRendering = false,
      pageNumPending = null,
      scale = 3,
      canvas = document.getElementById('pdf-canvas-{{ substr (.url | md5) 0 8 }}'),
      ctx = canvas.getContext('2d'),
      paginator = document.getElementById("pdf-paginator-{{ substr (.url | md5) 0 8 }}"),
      loadingWrapper = document.getElementById('pdf-loadingWrapper-{{ substr (.url | md5) 0 8 }}');

  showPaginator();
  showLoader();

  function renderPage(num) {
    pageRendering = true;
    pdfDoc.getPage(num).then(function(page) {
      var viewport = page.getViewport({scale: scale});
      canvas.height = viewport.height;
      canvas.width = viewport.width;
      var renderContext = {
        canvasContext: ctx,
        viewport: viewport
      };
      var renderTask = page.render(renderContext);
      renderTask.promise.then(function() {
        pageRendering = false;
        showContent();
        if (pageNumPending !== null) {
          renderPage(pageNumPending);
          pageNumPending = null;
        }
      });
    });
    document.getElementById('pdf-pagenum-{{ substr (.url | md5) 0 8 }}').textContent = num;
  }

  function showContent() {
    loadingWrapper.style.display = 'none';
    canvas.style.display = 'block';
  }

  function showLoader() {
    if(hideLoader) return;
    loadingWrapper.style.display = 'flex';
    canvas.style.display = 'none';
  }

  function showPaginator() {
    if(hidePaginator) {
      paginator.style.display = 'none';
    } else {
      paginator.style.display = 'block';
    }
  }

  function queueRenderPage(num) {
    if (pageRendering) {
      pageNumPending = num;
    } else {
      renderPage(num);
    }
  }

  function onPrevPage() {
    if (pageNum <= 1) { return; }
    pageNum--;
    queueRenderPage(pageNum);
  }
  document.getElementById('pdf-prev-{{ substr (.url | md5) 0 8 }}').addEventListener('click', onPrevPage);

  function onNextPage() {
    if (pageNum >= pdfDoc.numPages) { return; }
    pageNum++;
    queueRenderPage(pageNum);
  }
  document.getElementById('pdf-next-{{ substr (.url | md5) 0 8 }}').addEventListener('click', onNextPage);

  pdfjsLib.getDocument(url).promise.then(function(pdfDoc_) {
    pdfDoc = pdfDoc_;
    var numPages = pdfDoc.numPages;
    document.getElementById('pdf-pagecount-{{ substr (.url | md5) 0 8 }}').textContent = numPages;
    if(pageNum > numPages) { pageNum = numPages; }
    renderPage(pageNum);
  });

  // Lightbox functionality
  if ("{{ .lightbox }}" === "true") {
    var container = document.getElementById('embed-pdf-container-{{ substr (.url | md5) 0 8 }}');
    container.style.cursor = "pointer";
    container.addEventListener('click', function(){
      document.getElementById('pdf-lightbox-{{ substr (.url | md5) 0 8 }}').style.display = "flex";
    });
  }
})();
</script>

{{ if eq .lightbox "true" }}
<div id="pdf-lightbox-{{ substr (.url | md5) 0 8 }}" class="pdf-lightbox">
  <div class="pdf-lightbox-content">
    <span class="pdf-lightbox-close">&times;</span>
    <iframe src="{{ .url }}"></iframe>
  </div>
</div>
<script>
(function(){
  var lightbox = document.getElementById('pdf-lightbox-{{ substr (.url | md5) 0 8 }}');
  var closeBtn = lightbox.querySelector('.pdf-lightbox-close');
  closeBtn.addEventListener('click', function(){
    lightbox.style.display = "none";
  });
  // Optionally, close lightbox on click outside content
  lightbox.addEventListener('click', function(e) {
    if(e.target === lightbox) {
      lightbox.style.display = "none";
    }
  });
})();
</script>
{{ end }}
