<!-- layouts/partials/figure.html -->
<figure class="db mw8 center {{ with .class }}{{ . }}{{ end }}">
  <a href="{{ .src }}" data-lightbox="gallery" data-alt="{{ with .alt }}{{ . }}{{ else }}{{ .caption }}{{ end }}" data-title="{{ with .caption }}{{ . }}{{ end }}{{ if .attr }}{{ with .attrlink }}<a href='{{ . }}''> | (📷 {{ .attr }})</a>{{ else }} | (📷 {{ .attr }}){{ end }}{{ end }}">
    <img src="{{ .src }}" {{ if or .alt .caption }}alt="{{ with .alt }}{{ . }}{{ else }}{{ .caption }}{{ end }}"{{ end }} />
    </a>
    {{ if or (or .title .caption) .attr }}
      <figcaption class="flex pa1-ns pa3-m avenir justify-center {{ .light_text_color_class }} f5 mt1 mh3 ma0-ns">
        {{ if or .caption .attr }}
        {{ .caption }}
        {{ if .attr }}
          {{ with .attrlink }}<a href="{{ . }}"> | (📷 {{ .attr }})</a>{{ else }} | (📷 {{ .attr }}){{ end }}
        {{ end }}
        {{ end }}
      </figcaption>
  {{ end }}
</figure>