{{ $urlName := .urlName | replaceRE "\\." "" | urlize }}
{{ $foundPage := .site.GetPage (print "/people/" $urlName) }}
{{ if not $foundPage }}
  {{ range .site.Pages }}
    {{ if and (eq .Type "people") (in .Params.aliases (print "/people/" $urlName)) }}
      {{ $foundPage = . }}
    {{ end }}
  {{ end }}
{{ end }}
{{ $defaultImage := "/media/default/people_headshot.webp" }}
{{ if and .showImage }}
  {{ $imageToUse := $defaultImage }}
  {{ $personName := .urlName }}
  {{ if $foundPage }}
    {{ $personName = $foundPage.Title }}
    {{ if $foundPage.Params.featured_image }}
      {{ $imageToUse = (print "/media/headshots/" $foundPage.Params.featured_image) }}
    {{ end }}
    <a href="/people/{{ $urlName }}" class="flex flex-column items-center" style="width: 100px;">
      <div class="br-100 cover mb1" style="width: 100px; height: 100px; background-position: top center; background-image: url('{{ $imageToUse | absURL }}');"></div>
      <span class="tc w-100 f6" style="max-width: 100px; display: block; white-space: normal; overflow-wrap: break-word;">{{ $personName }}</span>
    </a>
  {{ else }}
    <span class="flex flex-column items-center" style="width: 100px;">
      <div class="br-100 cover mb1" style="width: 100px; height: 100px; background-position: top center; background-image: url('{{ $defaultImage | absURL }}');"></div>
      <span class="tc w-100 f6" style="max-width: 100px; display: block; white-space: normal; overflow-wrap: break-word;">{{ .urlName }}</span>
    </span>
  {{ end }}
{{ else }}
  {{ if $foundPage }}
    <a href="/people/{{ $urlName }}" class="ml1">{{ $foundPage.Title }}</a>
  {{ else }}
    <span class="ml1">{{ .urlName }}</span>
  {{ end }}
{{ end }}
