<!-- /23156489440/left-rail-1 -->
<style>
  @media (min-width: 1624px) {
    #div-gpt-ad-1724901421605-0 {
      /* left: -webkit-calc(100% - 1024px / 2);
      left: -moz-calc(100% - 1024px / 2);
      left: calc((100% - 1024px) / 4);  
      position: absolute;
      top: 260px;
      */
      min-width: 300px;
      min-height: 250px;
    }
  }

</style>
<div id='div-gpt-ad-1724901421605-0' style='' class="bg-blue w3">
  <script>
    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1724901421605-0'); });
  </script>
  <p class="f6">JaxPlays thanks our sponsors. Become one.</p>
</div>