<!-- /23156489440/left-rail-1 -->
<!-- Reviews & News -->
<style>
  .left-rail {
    margin: 2rem 0;
  }

  @media (min-width: 1624px) {
    #div-gpt-ad-1724901421605-0 {
      min-width: 300px;
      min-height: 250px;
    }

    .left-rail {
      position: absolute;
      top: 0;
      left: -345px;
      margin: {{ .margin }}; /* Use the passed variable here */
    }
  }
</style>
<div class="flex flex-column items-center left-rail">
  <!-- /23156489440/left-rail-1 -->
  <div id='div-gpt-ad-1725819105833-0' style='min-width: 300px; min-height: 250px;'>
    <script>
      googletag.cmd.push(function () { googletag.display('div-gpt-ad-1725819105833-0'); });
    </script>
  </div>
  <p class="f7 i">JaxPlays applauds our sponsors. <a href="/corporate-sponsors">Join them.</a></p>
</div>
