<!-- /23156489440/right-rail-1 -->
<!-- Reviews & News -->
<style>
  .right-rail {
    margin: 2rem 0;
  }

  .right-rail .gpt-slot {
    min-width: 300px;
    min-height: 250px;
  }

  @media (min-width: 1624px) {
    .right-rail {
      position: absolute;
      top: 0;
      right: {{ .right }};
      margin: {{ .margin }};
    }
  }
</style>
<div class="flex flex-column items-center right-rail">
  <!-- /23156489440/right-rail-1 -->
  <div class="gpt-slot"
       data-gpt-unit="/23156489440/right-rail-1"
       data-gpt-sizes="300x250"></div>
  <p class="f7 i">JaxPlays applauds our sponsors. <a href="/corporate-sponsors">Join them.</a></p>
</div>
