<style>
  .billboard-1 {
    margin-top: 2rem;
  }
  #div-gpt-ad-1726544268663-0 {
    min-width: 300px;
    min-height: 250px;
  }

  @media (min-width: 970px) {
    #div-gpt-ad-1726544268663-0 {
      min-width: 970px;
      min-height: 250px;
    }
  }
</style>
<!-- /23156489440/billboard-1 -->
<div class="flex flex-column items-center billboard-1">
  <div id='div-gpt-ad-1726544268663-0'>
    <script>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1726544268663-0'); });
    </script>
  </div>
  <p class="f7 i">JaxPlays applauds our sponsors. <a href="/corporate-sponsors">Join them.</a></p>
</div>