<div class="ma4 pa3 flex flex-row-l flex-column mw8 items-start-l items-center center bg-jaxplays-yellow justify-center">
  <div class="f4-ns f5 lh-copy ma2 mt0 w-50-l w-100 mw6">
    <h2>Support JaxPlays</h2>
    <p>As the year draws to a close, join us in celebrating the arts! Your end-of-year donation to JaxPlays plays a crucial role in our ongoing mission to preserve, promote, and energize live theatre in Jacksonville and its surrounding areas.</p>
    <p>Take center stage in supporting Jacksonville's theatre community with a recurring or one-time donation to JaxPlays! Your contributions, especially during this season of giving, are essential for maintaining our theatrical heritage and promoting contemporary theatre arts. </p>
    <p>Thank you for your support!</p>
  </div>
  <givebutter-widget id="j23vxL" class="ma3 w-50-l center"></givebutter-widget>
</div>
<style>
  .bg-jaxplays-yellow {
    background-color: var(--jaxplays-gold);
  }
</style>