<div class="ma4 pa3 flex flex-row-l flex-column mw8 items-start-l items-center center bg-jaxplays-yellow justify-center">
  <div class="f4 lh-copy ma2 mt0 w-50-l w-100 mw6">
    <h2>Support JaxPlays this Giving&nbsp;Tuesday!</h2>
    <p>This Giving Tuesday, be a part of something special! Your donation to JaxPlays helps us continue our mission of
      preserving, promoting, and propelling live theatre in Jacksonville and the surrounding areas.</p>
    <p>Play a leading role in Jacksonville's theatre scene with a monthly donation to JaxPlays! Your ongoing support is vital for preserving our theatrical heritage and promoting contemporary theatre arts. Regular contributions provide a stable base, enabling us to effectively support and showcase local talent and initiatives. Every contribution is a celebration of our shared passion for the arts.
    </p>
  </div>
  <givebutter-widget id="pQV0Dj" class="ma3 w-50-l center"></givebutter-widget>
</div>
<style>
  .bg-jaxplays-yellow {
    background-color: var(--jaxplays-gold);
  }
</style>