<div id="givebutter_campaign" class="ma4 pa3 flex flex-row-l flex-column mw8 items-start-l items-center center bg-jaxplays-yellow justify-center relative">
  <button onclick="closeDiv()" class="absolute bg-black white bn br3 pa2 b f4" style="cursor:pointer; top:10px; right:10px;">X</button>
  <div class="f4-ns f5 lh-copy ma2 mt0 w-50-l w-100 mw6">
    <h2>Support JaxPlays</h2>
    <p>Join us in our continuous celebration of the arts! Your support for JaxPlays is vital in our mission to preserve, promote, and energize live theatre in Jacksonville and its surrounding areas.</p>
    <p>Be a star in Jacksonville's theatre community with either a recurring or a one-time donation to JaxPlays! Your contributions are crucial throughout the year for sustaining our theatrical heritage and advancing contemporary theatre arts.</p>
    <p>Thank you for your ongoing support!</p>
  </div>
  <givebutter-widget id="j23vxL" class="ma3 w-50-l w-100 center"></givebutter-widget>
</div>
<style>
  .bg-jaxplays-yellow {
    background-color: var(--jaxplays-gold);
  }

  /* Initially hide the div */
  #givebutter_campaign {
    display: none;
  }
</style>

<script>
  function closeDiv() {
    // Hide the div and store the current date and time in localStorage
    document.getElementById("givebutter_campaign").style.display = "none";
    localStorage.setItem("closedAt", new Date().getTime());
  }

  window.onload = function() {
    // localStorage.removeItem("closedAt");
    const closedAt = localStorage.getItem("closedAt");

    if (closedAt) {
      const now = new Date();
      const closedDate = new Date(parseInt(closedAt));
      const oneDay = 24 * 60 * 60 * 1000; // milliseconds in one day

      if (now.getTime() - closedDate.getTime() >= oneDay) {
        // If more than a day has passed, display the div
        document.getElementById("givebutter_campaign").style.display = "";
      }
    } else {
      // If the div has never been closed (localStorage is not set), display the div
      document.getElementById("givebutter_campaign").style.display = "flex";
    }
  }
</script>

