<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffd316">
<meta name="apple-mobile-web-app-title" content="JaxPlays">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="JaxPlays">
<meta name="application-name" content="JaxPlays">
<meta name="msapplication-TileColor" content="#000000">
<meta name="theme-color" content="#000000">

<script async src="https://widgets.givebutter.com/latest.umd.cjs?acct=XzfDvChDHYVKLsXs&p=other"></script>
<script async src="https://securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
<script>
  window.googletag = window.googletag || {cmd: []};
  googletag.cmd.push(function() {
    var threshold = 980; // Define a threshold for switching ad sizes

    // Define the size mapping based on the threshold
    var mapping = googletag.sizeMapping()
      .addSize([threshold, 0], [970, 250]) // Width is 980 or greater, display 970x250
      .addSize([0, 0], [300, 250]) // Smaller widths, display 300x250
      .build();
      
    // Define the ad slots
    googletag.defineSlot('/23156489440/left-rail-1', [300, 250], 'div-gpt-ad-1725819105833-0')
    googletag.defineSlot('/23156489440/right-rail-1', [300, 250], 'div-gpt-ad-1726693593967-0')
      .addService(googletag.pubads());
    var billboardSlot = googletag.defineSlot('/23156489440/billboard-1', [[300, 250], [970, 250]], 'div-gpt-ad-1726544268663-0')
      .defineSizeMapping(mapping)
      .addService(googletag.pubads());
    
    googletag.pubads().collapseEmptyDivs();
    googletag.enableServices();

    // Function to check and refresh the ad if necessary when crossing the threshold
    let lastWidth = window.innerWidth;
    window.addEventListener('resize', function() {
      let currentWidth = window.innerWidth;
      if ((lastWidth >= threshold && currentWidth < threshold) || (lastWidth < threshold && currentWidth >= threshold)) {
        googletag.pubads().refresh([billboardSlot]); // Refresh only this ad slot
      }
      lastWidth = currentWidth; // Update last known width
    });
  });
</script>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcnn0MrAAAAAE-DuxHWbMXXkZGVCDHXy824uGcw"></script>