<!-- Include Leaflet CSS and JS -->
<link rel="stylesheet" href="/leaflet/leaflet.css" />
<script src="/leaflet/leaflet.js"></script>

<link rel="stylesheet" href="/leaflet/extramarkers/css/leaflet.extra-markers.min.css">
<script src="/leaflet/extramarkers/js/leaflet.extra-markers.min.js"></script>

<link href="/leaflet/extramarkers/css/fontawesome.css" rel="stylesheet">

<link rel="stylesheet" href="/leaflet/zoomhome/leaflet.zoomhome.css"/>
<script src="/leaflet/zoomhome/leaflet.zoomhome.min.js"></script>

<link rel="stylesheet" href="/leaflet/fullscreen/Control.FullScreen.css" />
<script src="/leaflet/fullscreen/Control.FullScreen.js"></script>

<!-- Initialize Map -->
<div id="map{{ .id }}" class="w-90 w-100-ns vh-40-ns vh-25 justify-center"></div>
<script>
    // Receive parameters
    var lat = {{ .Latitude }};
    var lng = {{ .Longitude }};
    var title = "{{ .Title }}";
    var address = "{{ .Address | replaceRE "\\n" "<br>" | safeHTML }}";
    var minZoom = {{ with .minZoom }}{{ . }}{{ else }}4{{ end }};
    var maxZoom = {{ with .maxZoom }}{{ . }}{{ else }}15{{ end }};
    var setZoom = {{ with .setZoom }}{{ . }}{{ else }}15{{ end }};
    var radius = {{ with .radius }}{{ . }}{{ else }}""{{ end }};

    // Initialize map with disabled default zoom control
    var mapId = 'map' + {{ .id }};
    var mymap = L.map(mapId, {zoomControl: false}).setView([lat, lng], setZoom);

    // Add zoomhome control
    var zoomHome = L.Control.zoomHome();
    zoomHome.addTo(mymap);

    // Stadia_StamenToner Layer
    var Stadia_StamenToner = L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_toner/{z}/{x}/{y}{r}.{ext}', {
        minZoom: minZoom,
        maxZoom: maxZoom,
        attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://www.stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        ext: 'png'
    }).addTo(mymap);

    var jaxplaysMarker = L.ExtraMarkers.icon({
      icon: 'fa-theater-masks',
      markerColor: 'yellow',
      shape: 'circle',
      prefix: 'fas'
    });

    if (radius) {
      var circle = L.circle([lat, lng], {
        color: '#ffd316',
        fillColor: '#ffd316',
        fillOpacity: 0.5,
        radius: radius
      }).addTo(mymap);
    }

    // Conditionally add a marker and bind popup if title or address exists
    if (title || address) {
        var popupContent = "<b>" + title + "</b></br>" + address;
        var marker = L.marker([lat, lng], {icon: jaxplaysMarker}).bindPopup(popupContent).addTo(mymap);
        marker.openPopup();
    }
</script>