<!-- Include Leaflet CSS and JS -->
<link rel="stylesheet" href="/leaflet/leaflet.css" />
<script src="/leaflet/leaflet.js"></script>

<link rel="stylesheet" href="/leaflet/extramarkers/css/leaflet.extra-markers.min.css">
<script src="/leaflet/extramarkers/js/leaflet.extra-markers.min.js"></script>

<link href="/leaflet/extramarkers/css/fontawesome.css" rel="stylesheet">

<!-- Initialize Map -->
<div id="map{{ .id }}" style="height: 400px; width: 100%;"></div>
<script>
    // Receive parameters
    var lat = {{ .Latitude }};
    var lng = {{ .Longitude }};
    var title = "{{ .Title }}";
    var address = "{{ .Address | replaceRE "\\n" "<br>" | safeHTML }}";

    // Initialize map
    var mapId = 'map' + {{ .id }};
    var mymap = L.map(mapId).setView([lat, lng], 15);

    // Stadia_StamenToner Layer
    var Stadia_StamenToner = L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_toner/{z}/{x}/{y}{r}.{ext}', {
        minZoom: 4,
        maxZoom: 15,
        attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://www.stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        ext: 'png'
    }).addTo(mymap);

    var jaxplaysMarker = L.ExtraMarkers.icon({
      icon: 'fa-theater-masks',
      markerColor: 'yellow',
      shape: 'circle',
      prefix: 'fas'
    });

    // Add a marker with a popup displaying the venue or production name
    var popupContent = "<b>" + title + "</b></br>" + address;
    var marker = L.marker([lat, lng], {icon: jaxplaysMarker}).bindPopup(popupContent).addTo(mymap);
    marker.openPopup();
</script>
