<h1 class="f4 f3-m f2-l sectionline black">Sign up for the JaxPlays Spotlight Newsletter!</h1>
<div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
<p>Every Wednesday, find out what which shows are currently on stage and where, which shows are opening this week, and read trustworthy reviews so you know which shows you can't miss!</p>
<form id="mc-form" class="flex flex-column flex-row-ns mb5" action="https://jaxplays.us21.list-manage.com/subscribe/post?u=04eb8788678f5bd18b03e5d80&id=62e90c33eb&f_id=00ce41e6f0" method="POST" target="hidden_iframe" novalidate>
  <input class="pa2 w-100" autocomplete="on" placeholder="Your email address" type="email" name="EMAIL" id="email" required>
  <input type="hidden" name="b_04eb8788678f5bd18b03e5d80_62e90c33eb" tabindex="-1" value="">
  <button type="submit" class="bn br0 bg-jp-gold ph3 pv2 mt2 mt0-ns">Subscribe</button>
</form>
</div>
<iframe name="hidden_iframe" style="display:none;"></iframe>

<div id="mc-response" style="display:none;" class="bg-white pa4">
<h3>Thanks for signing up!</h3>
<p>First, make sure to add rayhollister@jaxplays.org to your contact list so you don't miss a single edition!</p>
<p>Also, share us with your friends. Help us grow the<a href="/signup" target="_blank">JaxPlays Spotlight by sharing our signup form</a>.</p>
<p>Finally, if you get value from what we do, would you give a little value back?</p>
<p>We can't do what we do without your help. <a href="/support/" target="_blank">Support JaxPlays with a donation today</a>.</p>
</div>

<script>
  document.getElementById("mc-form").addEventListener("submit", function () {
    // Optimistically show success message
    document.getElementById("mc-response").style.display = "block";
    setTimeout(() => {
      document.getElementById("mc-form").reset();
    }, 500);
  });
</script>