{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
{{ if $featured_image }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  
    <figure class="db mw8 center">
      <img src="{{ .Params.featured_image }}" alt="{{ with .Params.featured_image_alt }}{{ . }}{{ else }}{{ .Title }}{{ end }}">
      {{ if or .Params.featured_image_caption .Params.featured_image_credit }}
      <figcaption class="flex pa1-ns pa3-m pa3 justify-center {{ .Site.Params.light_text_color_class }}">
        {{ with .Params.featured_image_caption }}
        {{ . }}
        {{ end }}
        {{ if and .Params.featured_image_caption .Params.featured_image_credit }}  |  {{ end }}
        {{ with .Params.featured_image_credit }}
        (📷 {{ . }})
        {{ end }}
      </figcaption>
      {{ end }}
    </figure>

  </header>

{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
