<!-- This partial auto generates a production details section for a review page. -->
<!-- It is called by the single.html template if the page is in the "review" section. -->
{{ $productionName := .Params.production | replaceRE " " "-" }}
{{ $productionPages := where .Site.RegularPages "Section" "eq" "productions" }}
{{ $matchingProduction := where $productionPages ".File.BaseFileName" "eq" $productionName }}

{{ $override_dates := .Params.override_dates }}

{{ with index $matchingProduction 0 }}
  {{ $title := .Title }}
  {{ $theatre := .Params.theatre }}
  {{ $venue := .Params.venue }}
  {{ $opening_date := .Params.opening_date }}
  {{ $closing_date := .Params.closing_date }}
  {{ $url := .Permalink }}
  
  <!-- Format dates -->
  {{ $opening_date := dateFormat "Monday, January 2" .Params.opening_date }}
  {{ $closing_date := dateFormat "Monday, January 2" .Params.closing_date }}

  <!-- Initialize $venueList -->
  {{ $venueList := "" }}
  <!-- Format venue or venues -->
  {{ if (reflect.IsSlice $venue) }}
    {{ $tempVenueList := delimit $venue ", " }}
    {{ $lastComma := findRE ", [^,]*$" $tempVenueList }}
    {{ $lastEntry := index $lastComma 0 | replaceRE "^, " "" }}
    {{ $venueList = replaceRE ", [^,]*$" (printf " and %s" $lastEntry) $tempVenueList }}
  {{ else }}
    {{ $venueList = $venue }}
  {{ end }}

  {{ with $override_dates }}
    <p><a class="i" href="{{ $url }}">{{ $title }}</a> runs {{ $override_dates | markdownify }} at {{ $venueList }}.</p>
  {{ else }}
    <p><a class="i" href="{{ $url }}">{{ $title }}</a> runs {{ $opening_date }} through {{ $closing_date }} at {{ $venueList }}.</p>
  {{ end }}
  <p>For more information, full cast and crew credits and links to tickets, visit the <a class="i" href="{{ $url }}">{{ $title }}</a> page here on JaxPlays.
  </p>
{{ end }}
