<!-- layouts/partials/secondSearchBar.html -->
<style>
  input:focus {
    outline: none;
  }
  #secondSearch a, #secondSearch a:hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
  }
  #secondSearch a:hover {
    background-color: lightgray;
  }
</style>

<div id="secondSearch" class="flex flex-column items-center">
  <input type="text" id="secondSearchInput" class="w-100 mw7 tc i pv2 f4 bn" placeholder="Search {{ lower .section }} here..." autocomplete="off">
  <ul id="secondSearchResults" class="flex flex-column items-center pl0"></ul>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  var searchSection = '{{ .section }}';  // The section to filter by, passed as a parameter
  var secondFuse; // Instance of Fuse
  var secondList = document.getElementById('secondSearchResults');
  var secondInput = document.getElementById('secondSearchInput');

  secondInput.oninput = function() {
      if (!secondFuse) {
          loadSecondSearch(); // Load data on first input
      }
      executeSecondSearch(this.value);
  };

  function loadSecondSearch() {
      fetch('/index.json').then(response => response.json()).then(data => {
          var options = {
              keys: ['title', 'summary'],
              includeScore: true,
              threshold: 0.3
          };
          secondFuse = new Fuse(data, options);
      });
  }

  function executeSecondSearch(term) {

      var results = secondFuse.search(term);
      var filteredResults = results.filter(result => result.item.section === searchSection);
      var items = filteredResults.map(result => {
          if (searchSection === "Productions") {
              let year = new Date(result.item.opening_date).getFullYear() || "";
              let theatre = result.item.theatre_name || "";
              return `<a href="${result.item.permalink}" class="bg-white bn mw9 w-100 mv1 pv2 ph4 f4 tc"><li class="list">${result.item.title} — ${year} — ${theatre}</li></a>`;
          } else {
              return `<a href="${result.item.permalink}" class="bg-white bn mw7 w-100 mv1 pv2 ph4 f4 tc"><li class="list">${result.item.title}</li></a>`;
          }
      });
      secondList.innerHTML = items.join('');
  }
});
</script>
