<nav class="pv3 ph3 ph4-ns mw9 center" role="navigation">
  <div class="navmenu flex justify-between-l items-center">
    <div class="menu-btn flex flex-m dn-l">
      <img id="mobile-search-icon" src="{{ "images/menu_search_combo_icon.svg" | relURL }}" alt="Search Menu" class="w2 h2">
    </div>
    <a href="{{ .Site.Home.RelPermalink }}" class="f2 f3-l fw7 hover-near-white no-underline white flex ttu jaxplayslogo">
      {{ with .Site.Params.site_logo }}
        <img src="{{ relURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <div class="flex-l items-center db-l dn">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ma0" "pl0 ma0" }}">
          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
      <div class="search-icon-container">
        <a href="#" id="search-icon">
          <img src="{{ "images/magnifying_glass_icon.svg" | relURL }}" alt="Search">
        </a>
    </div>
    </div>
  </div>
  <div id="fastSearch">
    <input id="searchInput" tabindex="0" placeholder="Search here...">
    <ul id="searchResults">
    </ul>
  </div>
   <!-- Menu links for tablet and mobile -->
   <div class="nav-links dn dn-m dn-l w-100-m flex-column">
    {{ range .Site.Menus.main }}
    <a class="link b lh-title hover-white white-90 no-underline f5 pa3 f4-ns {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }} " href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
      {{ .Name }}
    </a>
    {{ end }}
    {{ partialCached "social-follow.html" . }}
  </div>

  <!-- JavaScript to handle menu toggle -->
  <script>
    var navLinks = document.querySelector('.nav-links');
    document.querySelector('.menu-btn').addEventListener('click', function() {
      if (window.innerWidth < 960 && navLinks.style.display === 'flex') {
        navLinks.style.display = 'none';
      } else {
        navLinks.style.display = 'flex';
      }
    });
  </script>

</nav>
