{{ define "main" }}
<article class="pa3 pa4-ns nested-copy-line-height mw9 center">
  {{ partial "secondSearchBar.html" (dict "section" "Venues") }}

  {{ $today := now }}
  {{ $oneYearAgo := $today.AddDate -1 0 0 }}

  {{/* Active Venues */}}
  <h3 class="ph3 ph0-ns f2 mt0 mb2 sectionline">Active Venues</h3>
  <aside class="flex-ns flex-wrap justify-around mt5">
    {{ range .Pages.ByParam "title" }}
      {{ $venue := . }}
      {{ $isActive := false }}
      {{ range where site.RegularPages "Section" "productions" }}
        {{ $prodVenues := .Params.venue }}
        {{ if reflect.IsSlice $prodVenues }}
          {{ if in $prodVenues $venue.Title }}
            {{ with .Params.closing_date }}
              {{ if ge (time (string .)) $oneYearAgo }}
                {{ $isActive = true }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ else if eq $prodVenues $venue.Title }}
          {{ with .Params.closing_date }}
            {{ if ge (time (string .)) $oneYearAgo }}
              {{ $isActive = true }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if $isActive }}
        {{ .Render "theatre-list" }}
      {{ end }}
    {{ end }}
  </aside>

  {{/* Inactive Venues */}}
  <h3 class="ph3 ph0-ns f2 mt0 mb2 sectionline">Inactive Venues</h3>
  <aside class="flex-ns flex-wrap justify-around mt5">
    {{ range .Pages.ByParam "title" }}
      {{ $venue := . }}
      {{ $isActive := false }}
      {{ range where site.RegularPages "Section" "productions" }}
        {{ $prodVenues := .Params.venue }}
        {{ if reflect.IsSlice $prodVenues }}
          {{ if in $prodVenues $venue.Title }}
            {{ with .Params.closing_date }}
              {{ if ge (time (string .)) $oneYearAgo }}
                {{ $isActive = true }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ else if eq $prodVenues $venue.Title }}
          {{ with .Params.closing_date }}
            {{ if ge (time (string .)) $oneYearAgo }}
              {{ $isActive = true }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if not $isActive }}
        {{ .Render "theatre-list" }}
      {{ end }}
    {{ end }}
  </aside>
</article>
{{ end }}
