{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height mw9 center">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{ .Content }}
    </section>
    <h3 class="ph3 ph0-ns f2 mt0 mb2 sectionline">Active Venues</h3>
    <aside class="flex-ns flex-wrap justify-around mt5">
      {{ $activePages := where .Pages "Params.active" "!=" false }}
      {{ $sortedPages := $activePages.ByParam "title" }}
      {{ $paginator := .Paginate $sortedPages 60 }}
      {{ range $paginator.Pages }}
        {{ .Render "theatre-list" }} 
      {{ end }}
    </aside>
    <h3 class="ph3 ph0-ns f2 mt0 mb2 sectionline">Inactive Venues</h3>
    <aside class="flex-ns flex-wrap justify-around mt5">
      {{ $inactivePages := where .Pages "Params.active" "=" false }}
      {{ range $inactivePages }}
        {{ .Render "theatre-list" }} 
      {{ end }}
    </aside>
    {{ template "_internal/pagination.html" . }}
  </article>
{{ end }}
