<style>
  .billboard-1 {
    margin-top: 2rem;
  }
  .billboard-1 .gpt-slot {
    min-width: 300px;
    min-height: 250px;
  }

  @media (min-width: 970px) {
    .billboard-1 .gpt-slot {
      min-width: 970px;
      min-height: 250px;
    }
  }
</style>
<!-- /23156489440/billboard-1 -->
<div class="flex flex-column items-center billboard-1">
  <!-- Billboard Ad Placeholder for JS -->
  <div class="gpt-slot"
       data-gpt-unit="/23156489440/billboard-1"
       data-gpt-sizes="300x250,970x250"
       data-gpt-breakpoints="980x0:970x250;0x0:300x250"
       data-gpt-refresh-threshold="980"></div>
  <p class="f7 i">JaxPlays applauds our sponsors. <a href="/corporate-sponsors">Join them.</a></p>
</div>
