<!-- layouts/shortcodes/figure.html -->
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}
{{ $attr := .Get "attr" }}
{{ $class := .Get "class" }}
{{ $link := .Get "link" }}
{{ $title := .Get "title" }}
{{ $attr_link := .Get "attr_link" }}
{{ $tachyons := .Get "tachyons" }}
{{/* Optional size values for article layouts:
  - size="narrow": smaller inset image
  - size="content": default, matches article text width
  - size="wide": wider than article text
  - size="full" or size="bleed": full article media width
  Example: {{< figure src="/media/photos/example.webp" size="wide" >}}
  Featured images use the same values via front matter:
  featured_image:
    src: /media/photos/example.webp
    size: wide
*/}}
{{ $size := .Get "size" }}
{{ $light_text_color_class := .Site.Params.light_text_color_class }}
{{ partial "figure.html" (dict "src" $src "alt" $alt "caption" $caption "attr" $attr "class" $class "link" $link "title" $title "attr_link" $attr_link "tachyons" $tachyons "size" $size "light_text_color_class" $light_text_color_class) }}
