<!-- layouts/shortcodes/figure.html -->
{{ $src := .Get "src" }}
{{ $alt := .Get "alt" }}
{{ $caption := .Get "caption" }}
{{ $attr := .Get "attr" }}
{{ $class := .Get "class" }}
{{ $link := .Get "link" }}
{{ $title := .Get "title" }}
{{ $attrlink := .Get "attrlink" }}
{{ $tachyons := .Get "tachyons" }}
{{ $light_text_color_class := .Site.Params.light_text_color_class }}
{{ partial "figure.html" (dict "src" $src "alt" $alt "caption" $caption "attr" $attr "class" $class "link" $link "title" $title "attrlink" $attrlink "tachyons" $tachyons "light_text_color_class" $light_text_color_class) }}